/*
    WP MusicDistro Styling

    @author Jordan Pakrosnis
*/

.musicdistro-errorcheck-wrapper {
    padding: 0;
}

.musicdistro-error-check-form {
    padding: 20px;
}

.musicdistro-errorcheck-disclaimer {
    display: block;
    padding: 0 20px;
}

.musicdistro-errorcheck-arrangement-wrapper {
    background: #F5F5F5;
    padding: 20px;
    border-top: 1px solid #D4D4D4;
    -webkit-transition: all ease-in-out 100ms;
            transition: all ease-in-out 100ms;
}

.musicdistro-errorcheck-arrangement-wrapper:hover {
    background: #FFFFFF;
}

.musicdistro-errorcheck-arrangement-wrapper:before {
    content: " ";
    display: table;
}

.musicdistro-errorcheck-arrangement-wrapper:after {
    clear: both;
    content: " ";
    display: table;
}

.musicdistro-errorcheck-post-link {
    margin-left: 10px;
}

.musicdistro-errorcheck-unpublished {
    color: #666666;
}

.musicdistro-error-labels {
    display: inline-block;
    float: right;
    width: 45%;
    font-size: 14px;
}

.musicdistro-label {
    display: inline-block;
    margin: 0 5px 15px 0;
    padding: 2px 0 2px 10px;
    border-left: solid 2px;
}

.musicdistro-label:last-child {
    margin-bottom: 0;
}

.musicdistro-label ul {
    margin-left: 17px;
    margin-right: 40px;
}

.musicdistro-label:last-child ul {
    margin-right: 0;
}

.musicdistro-label li {
    list-style-type: disc;
    list-style-position: outside;
}

.musicdistro-label-warning {
    border-color: #FFCA06;
}

.musicdistro-label-warning i.fa {
    color: #FFCA06;
}

.musicdistro-label-error {
    border-color: #D41F1A;
}

.musicdistro-label-error i.fa {
    color: #D41F1A;
}

.musicdistro-label-noerror {
    border: none;
}

.musicdistro-label-noerror i.fa {
    color: #5CB85C;
}

.musicdistro-errorcheck-resolve {
    color: #428BCA;
    padding-left: 8px;
}
